/* Colour Hex Codes
#FDFBF8 - really light beige (Not sure if it's needed)
#F7F3F0 - really light brown
#ECDAB9 - light biege(?)
#AF8A68 - light brown
#3B2F23 - dark brown
#1E1812 - really dark brown
*/
.Username {
  font-weight: 800;
}

.userName {
  text-decoration: none;
  font-weight: 600;
  font-size: larger;
  justify-content: center;
}

.friendPage a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 1%;
}

.col, .settings-button, .text-end {
  /*make it a bit bigger, 
   make it at the bottom rihgt as well  */
  display: flex;
  float: right;
  align-items: center;
}

.bio_box {
  display: block;
}

#add_friend {
  text-decoration: none;
  font-size: larger;
}

.user-info {
  background: #af8a68;
}

.container > .btn, .btn-warning {
  width: 50%;
  border-color: #AF8A68;
  background-color: #AF8A68;

  a {
    color: #3B2F23;
  }
}

.container > .btn, .btn-warning:hover {
  border-color: #3B2F23;
  background-color: #3B2F23;
  a {
    color: #AF8A68;
  }
}

.container > .btn, .btn-warning:active {
  border-color: #FDFBF8 !important;
  background-color: #FDFBF8 !important; 
  a {
    color: #3B2F23 !important;
  }
}

/* For add-friend.html */

form {
  margin-bottom: 2%;

  .btn:active {
    border-color: #FDFBF8 !important;
    background-color: #FDFBF8 !important; 
    color: #3B2F23 !important;
  }
}

/* .add_friends_button {
  
} */
